@import url("https://fonts.googleapis.com/css?family=Tangerine");

body {
  margin: 0;
  box-sizing: border-box;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  background-color: #00008B;
}

h1 {
  color: #00008B;
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00008B;
}

.header .logo {
  font-size: 45px;
  font-family: "Tangerine";
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00008B;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}

/* CSS for main element */

.intro .btn {
  background-color: #00008B;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.intro button:hover {
  background-color: #00008B;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
}

.card {
  min-height: 200px;
}

#fullbtn {
  background-color: #00008B;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#accountcard {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}


.about-me-text p {
  font-size: 20px;
  color: #000;
  margin: 20px 0;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 40px 80px;
  margin-top: auto;
}

.footer .copy {
  color: #000000;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
}


#dtHorizontalExample {
  scrollX: true
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
